*{
    margin: 0px;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background-image: url(/assets/pattern.jpg);
}

/*estilo del contenedor donde esta el nav*/
header{
    width: 100%;
    height: 100%;
}

li{
    list-style: none;
}


/*estilos del boton de menu*/
.menu-1 button{
    margin: 0px;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}
.menu-1 button:hover,
footer .lista label:hover{
    background-color: #4b1c71;
    color: white;
    transition: 400ms;
}

/*ESTILOS DE LOS LINKS*/
a{
    border: none;
    background-color: white;
    text-decoration: none;
}

/*ESTILOS DEL MENU DONDE SE ENCUENTRAN LOS LINKS*/
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid black;
}

/*ESTILOS DEL MENU DE LA IZQUIERDA*/
.menu-1{
    display: flex;
    width: 60%;
    padding: 8px;
    padding-left: 0px;
    border-bottom: 1px solid black;
    background-color: white;
}

/*ESTILOS DE AMBOS LINKS*/
.menu-1 a, .menu-2 a, .menu-3 a{
    padding: 7px;
    margin-right: 10px;
    border: none;
    color: #4b1c71;
}
.menu-1 a:hover, .menu-2 a:hover, .menu-3 a:hover{
    background-color: #f7e4ff;
    border-radius: 5px;
}

/*ESTILOS DEL MENU DE LA DERECHA*/
.menu-2{
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    padding: 10px;
    padding-right: 0px;
    border-bottom: 1px solid black;
    background-color: white;
}

/*ESTILOS DEL MENU DE ABAJO*/
.menu-3{
    display: block;
    width: 100%;
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid black;
}

/*ESTILOS DEL SECTION 1*/
.box-1{
    display: block;
    width: 100%;
    text-align: center;
    
}
/*ESTILOS DE LA IMAGEN 1*/
.box-1 .imagen-1{
    width: 60%;
    height: 25%;
    border: 5px solid white;
    margin-top: 20px;
}
/*ESTILOS DEL TEXTO*/
.texto-1{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    text-align: justify;
}
.texto-1 p, .box-2 p, .texto-3 p, .texto-4 p, .texto-5 p,
.texto-6 p, .texto-7 p
{
    font-size: 25px;
    font-weight: bold;
}
span{
    color: blue;
    font-weight: bolder;
}

/*ESTILOS DE CAJA 2*/
.box-2{
    width: 60%;
    height: 25%;
    margin-left: auto;
    margin-top: 60px;
    
}

.box-2 .box-f{
    position: relative;
    width: 600px;
    height: 600px;
    background-color: #b57edc;
    margin-left: auto;
}

.box-2 .box-f .imagen-3{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 175px;
    right: 175px;
    border: 5px solid white;
}

.box-2 .box-f .imagen-2{
    position: absolute;
    width: 600px;
    height: 400px;
    top: 100px;
    right: 500px;
    border: 5px solid white;
}

.texto-2{
    position: absolute;
    width: 50%;
    right: 20%;
    margin-top: 40px;
    text-align: justify;
}

/*ESTILOS DE CAJA 3*/
.box-3{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 25%;
    
}
/*ESTILOS DE LA IMAGEN 1*/
.box-3 .imagen-4{
    width: 60%;
    height: 25%;
    border: 5px solid white;
    margin-top: 20px;
}
/*ESTILOS DEL TEXTO*/
.texto-3{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    text-align: justify;
}

/*ESTILOS CAJA 4*/
.box-4{
    width: 60%;
    height: 30%;
    margin-top: 60px;   
}
/*ESTILOS DE LA CAJA DE COLOR DENTRO DE LA CAJA 4*/
.box-4 .box-4-1{
    position: relative;
    width: 600px;
    height: 800px;
    background-color: #dbb6ee;
    
}

/*ESTILOS DE LAS IMAGENES DE LA CAJA 4*/
.imagen-5{
    position: absolute;
    width: 325px;
    height: 275px;
    top: 75px;
    right: 200px;
    border: 5px solid white;
}
.imagen-6{
    position: absolute;
    width: 325px;
    height: 275px;
    bottom: 75px;
    right: 200px;
    border: 5px solid white;
}
.imagen-7{
    position: absolute;
    width: 500px;
    height: 400px;
    top: 175px;
    right: -400px;
    border: 5px solid white;
}

/*ESTILOS DEL TEXTO DE LA CAJA 4*/
.texto-4{
    position: absolute;
    width: 50%;
    right: 20%;
    margin-top: 40px;
    text-align: justify;
}

/*ESTILOS CAJA 5*/
.box-5{
    display: block;
    width: 100%;
    text-align: center;
    
}
/*ESTILOS DE LA IMAGEN 8*/
.box-5 .imagen-8{
    width: 80%;
    height: 25%;
    border: 5px solid white;
    margin-top: 400px;
}
/*ESTILOS DEL TEXTO 5*/
.texto-5{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    text-align: justify;
}

/*ESTILOS CAJA 6*/
.box-6{
    width: 100%;
    margin-top: 150px;
    
}

.box-6 .box-6-1{
    position: relative;
    width: 800px;
    height: 600px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #b57edc;
    
}

.imagen-9{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 20px;
    right: -150px;
    border: 5px solid white;
}

.imagen-10{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 150px;
    right: 500px;
    border: 5px solid white;
}

.texto-6{
    position: absolute;
    width: 50%;
    right: 20%;
    margin-top: 40px;
    text-align: justify;
}

/*ESTILOS CAJA 7*/
.box-7{
    display: block;
    width: 60%;
    height: 30%;
    margin-top: 400px;   
    
}
/*ESTILOS DE LA CAJA DE COLOR DENTRO DE LA CAJA 4*/
.box-7 .box-7-1{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #dbb6ee;
    margin-left: 90%;
}

/*ESTILOS DE LAS IMAGENES DE LA CAJA 4*/
.imagen-11{
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: -500px;
    border: 5px solid white;
}

.texto-7{
    position: absolute;
    float: left;
    width: 60%;
    margin: 20%;
    text-align: justify;
}

/*ESTILOS DEL FOOTER*/
.titulo-footer{
    width: 100%;
    height: 150px;
    margin-top: 15%;
    margin-bottom: 10px;
    border-top: 1px solid #cccc ;
    
}

h3{
    width: 100%;
    margin-left: 7%;
    line-height: 150px;
    font-size: 45px; 
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 7%;
    margin-right: 7%;
    
}

footer .lista{
    margin-bottom: 10px;
    
}

footer h2{
    font-size: 18px;
    margin-bottom: 5px;
}

footer .lista ul li{
    padding-bottom: 5px;
}

footer .lista input{
    float: left;
    padding: 8px;
    width: 230px;
}
footer .lista label{
    line-height: 37px;
    background-color: blueviolet;
    padding: 9px;
    font-size: 15px;
}
footer .lista .registro{
    margin-top: 10px;
    border: none;
    height: 20px;
}

footer .seleccion .select1{
    width: 150px;
    padding: 3px;
}

/*ESTILO DE FOOTER BAJO*/
.footer-1{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 100px;
}

.footer-1 .menu-footer-1{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.footer-1 .menu-footer-2{
    display: flex;
    width: 20%;
    justify-content: end;
}

.footer-1 a{
    background:none;
}

.footer-1 div a:hover{
    font-weight: bolder;
}